.footerContainer {
    border-top: .5rem solid #222;
    background: #000;
    padding: 35px 45px 0 35px;
    color: #737373;
    height: 64vh;
}

.footerRow {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 15rem;
}

.footerColumn {
    display: flex;
}

.commonColumnStyle {
    margin: 3rem 8rem 3rem 0;
    width: 10vw;
    font-size: 14px;
}

ol {
    list-style: none;
}

li {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #737373;
}

.footerLangSelection {
    margin-right: 2.5rem;
    padding: .7em 1.1em;
    font-size: 16px;
    background: transparent;
    color: #fff;
    background: #000;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.question{
    font-size: 17px;
}