.section2 {
    color: #fff;
    background: #000;
    z-index: -2;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: .5rem solid #222;
    height: 60vh;
    width: 100vw;
}

.leftSide {
    text-align: start;
    width: 33%;
    margin-left: 5rem;
}

.section2Heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.section2Para {
    font-size: 1.6rem;
    font-weight: 400;
}

.rightSide{
    position: relative;
}

.tvImg {
    height: 50vh;
    background: transparent;
}


.videoPlay {
    position: absolute;
    z-index: -1;
    height: 13rem;
    right: 13rem;
    top: 4.6rem;
    right: 3rem;
}